@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  /* Backgrounds */
  --color-bg: #0a0a0a;
  --color-surface: #171717;
  --color-surface-hover: #262626;
  --color-border: #404040;

  /* Text */
  --color-text-primary: #f9fafb;
  --color-text-secondary: #d1d5db;
  --color-text-tertiary: #b8c0cc;
  --color-text-muted: #9ca3af;

  /* Accent */
  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;

  /* Font */
  --font-inter: "Inter", sans-serif;
}

body {
  font-family: var(--font-inter);
  background-color: var(--color-bg);
  color: var(--color-text-primary);
}
